{% extends 'polls/Navbar.html' %}

{% block title %} Новости {% endblock %}

{% block head %}
    {% load static %}
    <link href="{% static 'polls/css/newsPageView.css' %}" rel="stylesheet" type="text/css">

    {% include "colors_select.html" %}

    <script type="text/javascript" src="{% static 'polls/js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'polls/js/fa.js' %}"></script>


{% endblock %}

{% block body %}
    <body id="transition_disabled">
    <div class = 'bg'></div>
        <div class = 'newsPage-View'>
			<span class = 'newsPageTitle'>Новости </span>

            <div id = 'AllNews'>
            {% if tasks  %}
                {% for el in tasks %}
                    <div class = 'mainNewsBlock'>
                    <div class="author_data">
                        <img class="avatar" src="{{ el.author.customs.avatar.url }}">
                        <div class="first_last_names">
                            <div class="author">@{{ el.author }}</div>
                            <span class="first_name">{{ el.author.first_name }}</span>
                            <span class="last_name">{{ el.author.last_name }}</span>
                        </div>
                    </div>
                        {% if el.img %}
                            <img class = 'newsIMG' src="{{ el.img.url }}" alt="{{ el.title }}">
                        {% endif %}
                        <a href={{ el.get_absolute_url }}>
                        <h3>{{ el.title }}</h3>
                        <p>{{ el.task }}</p>
                    </a>
                    <h6>Опубликованно {{ el.publish }}</h6>
                        <div class = 'userActivity'>
                            <button class = 'userActivity_buttons fa fa-heart-o LikeBtn'></button>
                            <span>лаеккккк</span>
                        </div>
                        <div class = 'userActivity'>
                            <button class = 'userActivity_buttons fa fa-comment-o'></button>
                            <span>каменты ыы</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
    {% else %}
        <div class = 'mainNewsBlock'>
            <h4 class = 'NoNews'>Пока никаких новостей нет. Приходите позже</h4>
        </div>
    {% endif %}
        </div>
    <script type="text/javascript" src="{% static 'polls/js/newsView.js' %}"></script>
    <script type="text/javascript" src="{% static 'polls/js/main.js' %}"></script>
    </body>
{% endblock %}